.aoc-content {
  .card {
    height: 100%;
    border: none !important;

    .card-text {
      font-size: 1.2rem;
    }

    .aoc-infobox:hover {
      background-color: green;
      color: white;
    }
  }
}
